body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
}
a[href] {
  text-decoration: none;
}
header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.highlight-web {
  color: #2196f3;
}
.highlight-header {
  color: #000000;
}
a[href='portfolio.html']:hover {
  color: #2196f3;
}
nav a,
li {
  color: #212121;
}
li a:hover {
  color: #2196f3;
  cursor: pointer;
}
:focus {
  background-color: #ff0000;
  outline: none;
}
a[href='mailto:info@devstudio.com'] {
  color: #212121;
}
a[href='mailto:info@devstudio.com']:hover {
  color: #2196f3;
}
a[href='tel:+48111111111'] {
  color: #757575;
}
a[href='tel:+48111111111']:hover {
  color: #2196f3;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.button1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.button2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
button:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.hide {
  display: none;
}
.title-descrition {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.descrition {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.jobs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.title-gallery {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.highlight-footer {
  color: #ffffff;
}
a[href="https://goo.gl/maps/mivUpqcJWEY4cBys6"]
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a[href='mailto:info@example.com'] {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
a[href='tel:0048111111111'] {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

a[href='index.html']:hover {
  color: #2196f3;
}
nav ul[type='button'] {
  text-decoration: line-through;
}
