:root {
  --background-color: #ffffff;
  --main-color: #212121;
  --secondary-color: #000000;
  --third-color: #757575;
  --accent-color: #ffffff99;
  --backlight-color: #2196f3;
  --principal-color: #2f303a;
  --team-color: #f5f4fa;
  background: #eeeeee;
  background: #ececec;
}
:focus {
  background-color: var(--backlight-color);
  outline: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.highlight-web {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--backlight-color);
}
.highlight-header {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-color);
}
ul {
  list-style: none;
}
a[href='index.html'] {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--main-color);
  cursor: pointer;
}
a[href='index.html']:hover {
  color: var(--backlight-color);
}
a[href='portfolio.html'] {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--main-color);
  cursor: pointer;
}
a[href='portfolio.html']:hover {
  color: var(--backlight-color);
}
a[href='#contact'] {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--main-color);
  cursor: pointer;
}
a[href='#contact']:hover {
  color: var(--backlight-color);
}
a[href='mailto:info@devstudio.com'] {
  text-decoration: none;
  color: var(--third-color);
}
a[href='mailto:info@devstudio.com']:hover {
  color: var(--backlight-color);
}
a[href='tel:+48111111111'] {
  text-decoration: none;
  color: var(--third-color);
}
a[href='tel:+48111111111']:hover {
  color: var(--backlight-color);
}
.principal {
  background-color: var(--principal-color);
}
.principal-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--background-color);
  text-align: center;
  text-transform: uppercase;
}
.button1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--team-color);
  cursor: pointer;
}
.button2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-color);
  background-color: var(--team-color);
  cursor: pointer;
}
button:hover {
  background-color: var(--backlight-color);
  color: var(--background-color);
}
button:focus {
  background-color: var(--backlight-color);
  outline: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.doing-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.team-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  background-color: var(--team-color);
}
.descrition-title {
  font-weight: 700;
  line-height: 1.14;
}
.descrition {
  font-weight: 400;
  line-height: 1.71;
  color: var(--third-color);
}
.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.jobs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--third-color);
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--third-color);
}
.communication {
  font-style: normal;
  background-color: var(--principal-color);
}
.highlight-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background-color);
}
a[href="https://goo.gl/maps/mivUpqcJWEY4cBys6"]
{
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  color: var(--background-color);
  cursor: pointer;
}
a[href='mailto:info@example.com'] {
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  color: var(--accent-color);
  cursor: pointer;
}
a[href='tel:0048111111111'] {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
  cursor: pointer;
}
a[href="https://goo.gl/maps/mivUpqcJWEY4cBys6"]:hover
{
  color: var(--backlight-color);
}
a[href='mailto:info@example.com']:hover {
  color: var(--backlight-color);
}
a[href='tel:0048111111111']:hover {
  color: var(--backlight-color);
}
